<div>
    <h5> Choose your pokemon </h5>
</div>
<div>
  <%= form_with url: "/home", method: :post do |form| %>
    <%= form.label :pokemon, "Search for:" %>
    <%= form.text_field :pokemon, placeholder: 'Name or Id' %>
    <%= form.submit "BUY", class: 'btn btn-primary' %>
  <% end %>
</div>
<div>
   <h4>Your current pokemons</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID (national dex)</th>
        <th scope="col">Pokemon</th>
        <th scope="col">Price (USD)</th>
        <th scope="col">Sell</th>
      </tr>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.pokemon_id %></td>
          <td><%= purchase.pokemon_name.capitalize %></td>
          <td><%= purchase.usd_value %></td>
          <td><%= button_to 'Sell', home_path(purchase), method: :delete, class: 'btn btn-sm btn-danger'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
